modules = ["nodejs-20"]
run = ".ts"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Full Stack Next.js"

[[workflows.workflow]]
name = "Start Sports API"
author = 46296136
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx ts-node --esm Sports-api.ts"

[[workflows.workflow]]
name = "Full Stack Next.js"
author = 46296136
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx server.ts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
